include *.py
include *.rst
include *.yml
include .coveragerc
include .gitignore
include .travis.yml
include LICENSE
include Makefile
include mypy.ini
include pytest.ini
include release.mk
include tox.ini
